<div class="frog-assistant" id="frogAssistant" hidden>
  <button
    type="button"
    class="frog-assistant__avatar"
    id="frogAssistantAvatar"
    title="Натисни щоб отримати випадкову пораду"
    aria-label="Жаба-помічник"
  >
    <include src="partials/user/frog-svg.html"></include>
  </button>
  <div class="frog-assistant__bubble" id="frogAssistantBubble" hidden>
    <button
      type="button"
      id="frogAssistantClose"
      class="frog-assistant__close"
      title="Сховати"
      aria-label="Сховати"
    >
      ×
    </button>
    <div class="frog-assistant__text" id="frogAssistantText"></div>
  </div>
</div>
