<div class="modal" id="friendRequest" hidden>
  <div class="modal__card">
    <h2>Запит на допомогу</h2>
    <p class="friend-request__body">
      <span id="friendRequestFromName">…</span>
      хоче підключитися до вас як помічник у режимі друга.
    </p>
    <div class="friend-request__status" id="friendRequestStatus"></div>
    <div class="modal__actions">
      <button type="button" id="friendRequestDecline" class="btn-secondary">Відхилити</button>
      <button type="button" id="friendRequestAccept" class="is-primary">Прийняти</button>
    </div>
  </div>
</div>
